<h1>Welcome</h1>
<p>Welcome to Dreamly</p>
<p>Post your dreams, from the dreams to nightmares.. you choose for them to be read by the world or completely private
  in your own personal dream diary.</p>
{{#if user}}
{{else}}
<a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}